* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.nav {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding:0 20px;
}
.Logo {
  color: white;
  font-family: ;
}
.nav-items ul {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 25px;
}
.nav-items ul li a {
  color: white;
}
